* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #89f7fe 0%, #66a6ff 100%);
}

.container {
    text-align: center;
    background: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    width: 320px;
    transition: transform 0.3s;
}

h1 {
    color: #333333;
    margin-bottom: 20px;
    font-size: 1.8em;
}

label {
    display: block;
    margin: 12px 0 5px;
    color: #555555;
    font-size: 0.9em;
    font-weight: 500;
}

input,
select {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 1em;
    color: #333333;
    transition: border-color 0.3s, box-shadow 0.3s;
}



button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    background-color: #4CAF50;
    border: none;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}


h2 {
    color: #333333;
    margin-top: 20px;
    font-size: 1.5em;
}

#result {
    font-weight: bold;
    color: #4CAF50;
}