* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 5px solid black;
    height: 100vh;
}

.left {
    background-color: antiquewhite;
}

.right {
    background-color: aquamarine;
}

.btns {
    margin-top: 20px;
}