* {
    margin: 0;
    padding: 0;
}

ul {
    display: flex;
    margin-top: 0px;
    flex-direction: row;
    align-content: center;
    list-style: none;
    align-items: center;
    background-color: rgb(0, 0, 104);
}

.searchImg {
    height: 18px;
    width: 18px;
    padding: 2px;
}

.searchBtn {
    margin-left: -25px;
    background-color: #fff;
    border: none;
}

.name {
    display: flex;
    padding: 20px;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    list-style: none;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 30px;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    align-items: center;
    margin-left: 350px;
}

.input {
    margin-left: 500px;
}

.typeHere {
    padding: 5px;
    width: 270px;
}

.profile {
    height: 30px;
    width: 30px;
    padding-right: 150px;
    fill: white;
}

.cart {
    height: 30px;
    width: 30px;
}

.container {
    display: grid;
    grid-template-columns: 8fr 2fr;
    height: 100vh;
}

.coupon {
    height: 50px;
    display: flex;
    align-items: center;
    margin-left: 35%;
    font-weight: bold;
    font-size: 20px;
}

.left {
    border: 2px solid black;
    padding-top: 15px;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.productPic {
    height: 200px;
    width: 250px;
    object-fit: contain;
}

.productName {
    font-size: 20px;
    font-weight: bold;
}

.addToCart {
    background-color: rgb(174, 174, 0);
    color: white;
    border-radius: 30px;
    padding: 10px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.addToCart:hover {
    background-color: rgb(200, 200, 50);
}

.right {
    flex: 2;
    border: 2px solid black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


#cartItems {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    height: 200px;
    overflow-y: auto;
}

#couponSection {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

#finalValueSection {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    position: sticky;
    bottom: 0;

}

.couponBox {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.applyCouponBtn {
    margin-top: 5px;
    padding: 5px 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.applyCouponBtn:hover {
    background-color: #218838;
}

.rightHeading {
    font-size: 25px;
    font-weight: bolder;
    margin: 10px 0;
}

.itemElement {
    font-size: 20px;
    margin-bottom: 5px;
}